
#recruser-save-cv-block {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;
    position: relative !important;
    width: 312p;
    /* top: 15% !important; */
    /* left: 0.5% !important; */
    z-index: 9999 !important;
}

#recruser-save-cv-block a {
    cursor: pointer;
    color: var(--recruser-color) !important;
    text-decoration: none !important;
 }

.recruser-label {
    background-color: #eefcfa !important;
    color: var(--recruser-color) !important;
    border: 1px solid var(--recruser-color) !important;
    border-radius: 5px !important;
    width: 350px !important;
    text-align: center !important;
    padding: 3px 5px !important;
    color: var(--recruser-color) !important;
    user-select: none;
}

.recruser-next-step{
    display:inline-block;
    text-decoration:none;
    width: 25px;
    background: #ddfaf6;
}
.recruser-next-step:hover:before{
    background-color: #ddfaf6;
    border-radius: 50%;
}
.recruser-next-step:before{
    content: '';
    background: url(assets/images/next-step.png);
    background-size: cover;
    position: absolute;
    width:20px;
    height:20px;
    margin: -15px 5px 0 5px;
}

.recruser-roll-up:before{
    content: '';
    background: url(assets/images/roll-up.png);
    background-size: cover;
    position: absolute;
    width:16px;
    height:10px;
    margin: 4px 0 0 0px;
}
.recruser-roll-down:before{
    content: '';
    background: url(assets/images/roll-down.png);
    background-size: cover;
    position: absolute;
    width:16px;
    height:10px;
    margin: 4px 0 0 0px;
}

.recruser-toggle-cv-viewer-block {
    border-left: 1px solid var(--recruser-color) !important; 
    display: inline !important; 
    margin: 0 10px !important; 
    padding-left: 10px !important;
}

.recruser-cv-viewer {
    position: absolute !important;
    border: 1px solid var(--recruser-color) !important;
    border-radius: 5px !important;
    width: 350px !important;
    padding: 5px !important;
    color: grey !important;
    background-color: white !important;
    margin: 5px !important;
}
.recruser-cv-viewer-content {
    max-height: 300px !important;
    overflow-y: auto !important;
}
.recruser-cv-section {
    padding: 5px !important;
    border-bottom: 1px solid var(--recruser-color) !important;
}
.recruser-cv-last-section {
    padding: 5px !important;
}
.recruser-personal-section {
    display: grid !important;
    grid-template-columns: 3fr 6fr !important;
}
.recruser-personal-section div {
    margin: 0 3px !important;
}
.recruser-cv-viewer-navigation {
    display: grid !important;
    grid-template-columns: 3fr 3fr 3fr 3fr 3fr !important;
    text-align: center !important;
    user-select: none !important;
}

.recruser-cv-experience-item {
    display: grid !important; 
    grid-template-columns: 2fr 1fr !important;
}

.recruser-cv-last-action {
    min-height: 20px !important;
    padding: 5px !important;
    font-style: oblique !important;
    color: darkgray !important;
}

.light-hr {
    border: 0.5px solid lightgrey;
}

.recruser-validation {
    background-color: #fff2d5 !important;
    font-size: 15px;
    color: var(--recruser-color) !important;
    border: 1px solid #f6bf45 !important;
    border-radius: 5px !important;
    width: 360px !important;
    text-align: center !important;
    padding: 3px 0 !important;
    color: grey !important;
    margin: 3px 0;
}