:root {
    --recruser-color: #0ca789 !important;
}

.recruser-theme-btn {
    color: grey !important;
    border: 1px solid var(--recruser-color) !important;
    border-radius: 5px !important;
    width: 100px !important;
    text-align: center !important;
    padding: 5px 0 !important;
    background-color: white !important;
    cursor: pointer !important;
    font-size: 13px !important;
}
.recruser-theme-btn-hovered {
    color: white !important;
    background-color: #51b8a3 !important;
    text-decoration: none !important;
}
.recruser-theme-btn:hover {
    color: white !important;
    background-color: var(--recruser-color) !important;
    text-decoration: none !important;
}

.recruser input,select {
    border-radius: 5px !important;
    background-color: white !important;
}
.recruser input:hover, select:hover, textarea:hover {
    border: 1px solid var(--recruser-color) !important;
}

.recruser-autocomplete li {
    border: 1px solid var(--recruser-color) !important;
    border-radius: 5px !important;
    background-color: white !important;
}
.recruser input {
    border: 1px solid var(--recruser-color) !important;
    padding: 5px !important;
    width: 320px !important;
    margin: 3px 0 !important;
    color: grey !important;
}
.recruser-autocomplete input:focus {
    outline: none !important;
}

.recruser li {
    background-color: white !important;
    color: grey !important;
}
.recruser li:hover {
    background-color: #ddfaf6 !important;
}

.recruser-link {
    color: var(--recruser-color) !important;
    text-decoration: none !important;
    font-weight: bold  !important;
}

.recruser-fake-styled-href {
    cursor: pointer;
    color: var(--recruser-color) !important;
    text-decoration: none !important;
    font-weight: bold  !important;
 }