:root {
    --recruser-icon-size: 23px;
}

.recruser-vacancy-block {
    border: 1px solid var(--recruser-color) !important;
    border-radius: 15px !important;
    background-color: var(--recruser-color) !important;
    color: white !important;
    opacity: 0.85 !important;
    position: fixed !important;
    top: 15% !important;
    right: 0.5% !important;
    text-align: left !important;
    padding: 10px !important;
    font-size: 17px !important;
    overflow-x: auto !important;
    z-index: 9999 !important;
    word-wrap: 'break-all' !important;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif !important;
}
.recruser-vacancy-block-opened {
    width: 27% !important;
    min-height: 30% !important;
    overflow-y: hidden !important;
    resize: vertical !important;
}

.recruser-set-block-vacancy-header {
    border-bottom: 1px solid white !important;
    height: calc(80px - 10px) !important;
}
.recruser-set-block-vacancy-header-content-container {
    display: grid; 
    grid-template-columns: 7fr 1fr 1fr;
}
.recruser-block-vacancy-description-block {
    overflow-y: auto !important;
    position: absolute !important;
    top: 80px !important;
    bottom: 25px !important;
    padding-top: 10px !important;
    padding-right: 10px !important;
    font-style: italic !important;
}
.recruser-vacancy-block-resize {
    position: absolute !important;
    bottom: 3px !important;
    right: 3px !important;
    z-index: -1 !important;
    width: 20px !important;
    height: 20px !important;
    content: url(assets/images/resize-botton-right.png) !important
}

.recruser-vacancy-block-closed {
    padding: 15px 30px 25px 30px !important;
    /* padding: 1rem 2rem 1.7rem 2rem !important; */
    text-align: center !important;
}


.recruser-block-vacancy-title {
    /* display: inline-block; */
    font-weight: bold  !important;
    font-size: 20px !important;
    margin: 6px 0 !important;
}

.recruser-set-block-vacancy-edit {
    display: grid;
    grid-template-columns: 7fr 2fr 2fr;
}

.recruser-finish{
    display:inline-block;
    text-decoration:none;
    width: 25px;
    text-align: center;
}
.recruser-finish:hover:before{
    background-color: #47c2b1 !important;
    border-radius: 50% !important;
}
.recruser-finish:before{
    content: '';
    background-color: white;
    background: url(assets/images/finish.png);
    background-size: cover;
    position: absolute;
    width: var(--recruser-icon-size);
    height: var(--recruser-icon-size);
    margin: -10px 5px 0 5px;
}

.recruser-exit{
    display:inline-block;
    text-decoration:none;
    width: 25px;
    text-align: center;
}
.recruser-exit:hover:before{
    background-color: #47c2b1;
    border-radius: 50%;
}
.recruser-exit:before{
    content: '';
    background-color: white;
    background: url(assets/images/exit.png);
    background-size: cover;
    position: absolute;
    width: var(--recruser-icon-size);
    height: var(--recruser-icon-size);
    margin: -10px 5px 0 5px;
}

.recruser-edit{
    display:inline-block;
    text-decoration:none;
    width: 25px;
    text-align: center;
    background-color: #ddfaf6;
}
.recruser-edit:before{
    content: '';
    background: url(assets/images/edit.png);
    background-size: cover;
    position: absolute;
    width: var(--recruser-icon-size);
    height: var(--recruser-icon-size);
    margin: -10px 5px 0 5px;
}

.recruser-hide{
    display:inline-block;
    text-decoration:none;
    width: 25px;
    text-align: center;
    background-color: #ddfaf6;
}
.recruser-hide:before{
    content: '';
    background: url(assets/images/hide-arrow.png);
    background-size: cover;
    position: absolute;
    width: var(--recruser-icon-size);
    height: var(--recruser-icon-size);
    margin: -10px 5px 0 5px;
}

.recruser-show{
    display:inline-block;
    text-decoration:none;
    /* width: 25px; */
    margin: 20px;
    background-color: #ddfaf6;
}
.recruser-show:before{
    content: '';
    background: url(assets/images/show-arrow.png);
    background-size: cover;
    position: absolute;
    width: var(--recruser-icon-size);
    height: var(--recruser-icon-size);
    margin: -10px -5px 0 -10px;
}

.recruser-vacancy-not-found-alert {
    display: block;
    font-style: italic;
    margin: 5px;
}