:root {
    --main-color: #0ca789;
}

.recruser-theme-btn {
    color: grey;
    border: 1px solid var(--main-color) !important;
    border-radius: 5px;
    width: 100px;
    text-align: center;
    padding: 6px 0;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
}
.recruser-theme-btn:hover {
    color: white;
    background-color: var(--main-color) !important;
    text-decoration: none;
}

.recruser input:hover, select:hover, textarea:hover {
    border: 1px solid var(--main-color) !important;
}

.recruser-autocomplete li {
    border: 1px solid var(--main-color);
}
.recruser input {
    border: 1px solid var(--main-color);
    padding: 5px;
    width: 200px
}
.recruser-autocomplete input:focus {
    outline: none;
    background-color: #defff9;
}

.recruser-next-step {
    text-decoration: none;
    color: var(--main-color);
    margin: 0 5px;
    font-weight: bold;
}